//  BASIC THEME TOKENS: BASE COLORS
// - This partial defines Basic Theme's base color tokens
// FIGMA REFERENCE: COLOR PRIMITIVES

// Colors
// - Brand
$color-basic_blue: #0073ea;
$color-dark_blue: #0060b9;
$color-highlight_blue: #cce5ff;
$color-sky_blue: #aed4fc;
// Family Care Apps guidelines
$color-red_assist: #f9423a;
$color-red_assist-hover: #9a2823;
$color-red_assist-selected: #f7e8e7;
$color-red_assist-selected-hover: #fdb3b0;
$color-green_assist: #2fb2a0;
$color-green_assist-hover: #1c6b60;
$color-green_assist-selected: #e6f6f4;
$color-green_assist-selected-hover: #ace0d9;
$secondary-background-light_green: #e6ead1;
$traffic-light_green: #14ae5c;
$traffic-light_orange: #ffa629;
$traffic-light_red: #f24822;

// - Semantics
$color-basic_green: #2fb2a0;
$color-dark_green: #1c6b60;
$color-pastel_green: #e6f6f4;
$color-olive_green: #ace0d9;

$color-basic_red: #f9423a;
$color-blood_red: #9a2823;
$color-pastel_red: #f7e8e7;
$color-pinky_red: #fdb3b0;

$color-purple: #a25ddc; // content color duplication
$color-bazooka: #f65f7c;

$color-egg_yolk: #ffcb00; // warning colors
$color-desert: #eaaa15;
$color-summer_sun: #fceba1;
$color-yellow_sand: #f2d973;

// Natural
$color-black: #191919;
$color-snow_white: #fafafa;

// Natural / Gray
$color-ui_grey: #d3dae3;
$color-wolf_gray: #b4bcc7;
$color-mud_black: #323338;
$color-riverstone_gray: #eff0f3;
// - Muted
$color-ui_grey-muted: #ecedf5;

// Text
$color-asphalt: #676879;
$color-link_color: #1f76c2;

// Surface
$color-surface: #292f4c;

// Semantics old aliases,
// - Success, used as positive key alias
$color-success: $color-basic_green;
$color-success-hover: $color-dark_green;
$color-success-highlight: $color-pastel_green;

// - Error, used as negative key alias
$color-error: $color-basic_red;
$color-error-hover: $color-blood_red;
$color-error-highlight: $color-pastel_red;
