// BASIC THEME COLOR MAP: This partial defines the basic theme's registration color map.
// - Map include Registration color scope tokens.
// - Map is collected into the $theme-basic-settings map and is interpolated into custom properties.

$theme-basic-palette: (
  color-highlight_blue: $color-highlight_blue,
  color-basic_blue: $color-basic_blue,
  color-dark_blue: $color-dark_blue,
  color-bazooka: $color-bazooka,
  color-snow_white: $color-snow_white,
  color-snow_green: $color-snow_green,
  color-riverstone_gray: $color-riverstone_gray,
  color-ui_grey: $color-ui_grey,
  color-wolf_gray: $color-wolf_gray,
  color-asphalt: $color-asphalt,
  color-mud_black: $color-mud_black,
  color-black: $color-black,
  color-success: $color-success,
  color-success-hover: $color-success-hover,
  color-success-highlight: $color-success-highlight,
  color-error: $color-error,
  color-error-hover: $color-error-hover,
  color-error-highlight: $color-error-highlight,
  color-link_color: $color-link_color,
  color-surface: $color-surface,
  //Family Care Apps guidelines
  color-red_assist: $color-red_assist,
  color-red_assist-hover: $color-red_assist-hover,
  color-red_assist-selected: $color-red_assist-selected,
  color-red_assist-selected-hover: $color-red_assist-selected-hover,
  color-green_assist: $color-green_assist,
  color-green_assist-hover: $color-green_assist-hover,
  color-green_assist-selected: $color-green_assist-selected,
  color-green_assist-selected-hover: $color-green_assist-selected-hover,
  secondary-background-light_green: $secondary-background-light_green,
  traffic-light_green: $traffic-light_green,
  traffic-light_orange: $traffic-light_orange,
  traffic-light_red: $traffic-light_red
);
